@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes bottomToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 80%;
}
@media (max-width: 1800px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 1240px) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 30%;
  }
}

body {
  padding: 5rem;
  background: #FAFAFA;
}

.container-box {
  position: relative;
  background: #F7F7F7;
  padding: 0;
  z-index: 0;
}

@font-face {
  font-display: swap;
  font-family: "_Lato";
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "_Lato";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
.title-first {
  color: #FAFAFA;
  animation-name: leftToRight;
  animation-duration: 4s;
  animation-delay: 1.5s;
  margin-bottom: 6.5rem;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 1240px) {
  .title-first__main {
    font-size: 3.5rem;
    margin-bottom: 0rem;
  }
}
@media (max-width: 900px) {
  .title-first__main {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
}
.title-first__second {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
}
@media (max-width: 1240px) {
  .title-first__second {
    font-size: 2.8rem;
  }
}
@media (max-width: 900px) {
  .title-first__second {
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
  }
}

body {
  font-family: "_Lato", sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.title-second {
  text-align: center;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800px;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  transition: all 0.4s;
  backface-visibility: hidden;
}
.title-second:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
}
.title-second_white {
  color: #FAFAFA;
}
@media (max-width: 1240px) {
  .title-second {
    font-size: 3rem;
  }
}
@media (max-width: 900px) {
  .title-second {
    font-size: 2.8rem;
    letter-spacing: 0.6rem;
  }
}

.title-third {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
@media (max-width: 1240px) {
  .title-third {
    font-size: 1.8rem;
  }
}
@media (max-width: 900px) {
  .title-third {
    text-align: center;
  }
}

.paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
}
@media (max-width: 1240px) {
  .paragraph {
    font-size: 1.4rem;
  }
}

.adventure-card .paragraph {
  letter-spacing: 0.15rem;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-25px {
  margin-bottom: 2.5rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-45px {
  margin-bottom: 4.5rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}
@media (max-width: 900px) {
  .margin-bottom-80px {
    margin-bottom: 5rem;
  }
}

.padding-left-35px {
  padding-left: 3.5rem;
}

.text-align-center {
  text-align: center;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url("../img/pexels-julia-volk-6118899 1.jpg") center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
@media (max-width: 1240px) {
  .header__box {
    top: 50%;
  }
}

.footer {
  background: #333333;
  padding: 8rem;
}
.footer__logo {
  height: 15rem;
  width: 12rem;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 5rem;
}
@media (max-width: 1240px) {
  .footer__item:not(:last-child) {
    margin-right: 1rem;
  }
}
@media (max-width: 900px) {
  .footer__item:not(:last-child) {
    margin: 0 3rem 3rem 0;
  }
}
@media (max-width: 1240px) {
  .footer__item:not(:last-child) {
    margin: 0;
    padding: 2rem;
  }
}
.footer__link:link, .footer__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #FAFAFA;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  transition: 0.5s all;
}
.footer__link:hover {
  transform: rotate(5deg) scale(1.2);
  color: #BA8554;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  --bs-gutter-x: 0;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 1440px) {
  .row {
    max-width: 110rem;
  }
}
@media (max-width: 1240px) {
  .row {
    max-width: 86rem;
  }
}
@media (max-width: 900px) {
  .row {
    max-width: 60rem;
  }
  .row:not(:last-child) {
    margin-bottom: 3rem;
  }
}
@media (max-width: 600px) {
  .row {
    max-width: 45rem;
  }
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
@media (max-width: 1240px) {
  .col-1-of-3 {
    width: calc((100% - 4rem) / 3);
  }
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
@media (max-width: 1240px) {
  .col-1-of-4 {
    width: calc((100% - 6rem) / 4);
  }
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 1240px) {
  [class^=col-]:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (max-width: 900px) {
  [class^=col-] {
    width: 100%;
  }
  [class^=col-]:not(:last-child) {
    margin-right: 0rem;
  }
}

.navigation__button {
  background: #FAFAFA;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  right: 7rem;
  top: 7rem;
  z-index: 12;
  text-align: center;
}
@media (max-width: 900px) {
  .navigation__button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
}
.navigation__backround {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: radial-gradient(#BA8554, #A14F03);
  position: fixed;
  right: 8rem;
  top: 8rem;
  z-index: 10;
  transform: scale(0);
  transition: 0.7s all;
}
.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  opacity: 0;
  transition: 0.7s all cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__toggle {
  display: none;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin-bottom: 5rem;
}
.navigation__icon {
  position: relative;
  margin-top: 2.9rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  width: 3rem;
  height: 0.3rem;
  background: #000000;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: 0.5s all;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  color: #FAFAFA;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #FAFAFA 50%);
  background-size: 230%;
  padding: 1rem 2rem;
  transition: 0.5s all;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #A14F03;
  transform: translateX(1rem);
}
.navigation__toggle:checked ~ .navigation__backround {
  transform: scale(100);
}
.navigation__toggle:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg);
}

.section-about {
  padding-top: 8rem;
  margin-bottom: 5.4rem;
}
@media (max-width: 900px) {
  .section-about {
    margin-bottom: 42rem;
  }
}

.section-cards {
  padding: 21.6rem 0;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url("../img/cards_background.png") center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 14%, 100% 94%, 0 86%);
          clip-path: polygon(0 0, 100% 14%, 100% 94%, 0 86%);
  margin-bottom: 4rem;
}
@media (max-width: 1240px) {
  .section-cards {
    padding: 15rem 0;
  }
}
@media (max-width: 900px) {
  .section-cards {
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 94%, 0 90%);
            clip-path: polygon(0 0, 100% 5%, 100% 94%, 0 90%);
    padding: 8rem 0rem 12rem 0rem;
    margin-bottom: 0rem;
  }
}

.section-feedback {
  position: relative;
  padding: 8rem 0;
}

.section-book {
  padding: 10rem;
  background: linear-gradient(90deg, #BA8554, #000000);
}
@media (max-width: 600px) {
  .section-book {
    padding: 3rem;
  }
}

.btn {
  position: relative;
}
.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  background: #FAFAFA;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  transition: all 0.5s;
  font-size: 2rem;
}
@media (max-width: 1240px) {
  .btn, .btn:link, .btn:visited {
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 900px) {
  .btn, .btn:link, .btn:visited {
    padding: 2rem 4.5rem;
    font-size: 2rem;
  }
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.btn:hover::after {
  opacity: 0;
  transform: scale(1.5);
}
.btn:active {
  transform: translateX(-0.2rem);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  background: #FAFAFA;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
.btn_animation {
  animation: bottomToUp 0.5s ease-out 1.7s;
  animation-fill-mode: backwards;
}
.btn_brown, .btn_brown:link, .btn_brown:visited, .btn_brown:hover, .btn_brown::after {
  background: #BA8554;
  color: #FAFAFA;
}

:not(.btn-check) + .btn:active {
  background: white;
}

.btn-text:link, .btn-text:visited {
  color: #A14F03;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #BA8554;
  display: inline-block;
  transition: all 0.4s;
}
@media (max-width: 900px) {
  .btn-text:link, .btn-text:visited {
    margin-bottom: 3rem;
  }
}
.btn-text:hover {
  background-color: #BA8554;
  color: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 60%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 10;
  transition: all 0.8s;
  outline-offset: 1rem;
}
.composition__photo_n1 {
  top: 0;
  left: 2rem;
}
.composition__photo_n2 {
  top: 9rem;
  right: 0;
}
.composition__photo_n3 {
  top: 16.4rem;
  left: 4rem;
}
.composition__photo:hover {
  outline: 1rem solid #BA8554;
  transform: scale(1.03);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.97);
}

.adventure-card {
  padding: 2.5rem;
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
@media (max-width: 900px) {
  .adventure-card {
    margin-bottom: 2rem;
  }
}
.adventure-card__icon {
  display: inline-block;
  font-size: 6rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
}
.adventure-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.tour-card {
  position: relative;
  height: 54rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
}
@media (max-width: 900px) {
  .tour-card {
    height: 70rem;
    margin-bottom: 5rem;
    height: auto;
  }
}
.tour-card__img {
  height: 24.5rem;
  background-blend-mode: hard-light;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
@media (max-width: 900px) {
  .tour-card__img {
    height: 35.5rem;
  }
}
.tour-card__img_1 {
  background: #BA8554 url("../img/tour-card-2.jpg") center/cover no-repeat;
}
.tour-card__img_2 {
  background: #BA8554 url("../img/tour-card-1.jpg") center/cover no-repeat;
}
.tour-card__img_3 {
  background: #BA8554 url("../img/tour-card-3.jpg") center/cover no-repeat;
}
.tour-card__title {
  color: #FAFAFA;
  font-weight: 300;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 18.5rem;
  right: 0rem;
}
@media (max-width: 900px) {
  .tour-card__title {
    top: 30rem;
    font-size: 3.8rem;
  }
}
.tour-card__desc ul {
  list-style: none;
  margin: 0 auto;
  width: 77%;
  text-align: center;
}
.tour-card__desc ul li {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #777777;
  border-bottom: 0.1rem solid #777777;
  display: inline-block;
}
.tour-card__desc ul li:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 1240px) {
  .tour-card__desc ul li {
    font-size: 1.4rem;
  }
  .tour-card__desc ul li:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 900px) {
  .tour-card__desc ul li {
    font-size: 2.3rem;
  }
}
.tour-card__span {
  padding: 1rem 2rem 0.3rem 2rem;
  background: linear-gradient(90deg, #BA8554, #A14F03);
}
.tour-card__span_2 {
  position: absolute;
  top: 3.5rem;
  right: 0;
  padding-bottom: 1rem;
}
@media (max-width: 900px) {
  .tour-card__span_2 {
    top: 4.6rem;
    position: relative;
  }
}
.tour-card__backside-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 900px) {
  .tour-card__backside-box {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    padding-top: 3rem;
    text-align: center;
  }
}
.tour-card__text {
  margin-bottom: 8.7rem;
  text-transform: uppercase;
  color: #FAFAFA;
  text-align: center;
  letter-spacing: 0.2rem;
}
@media (max-width: 900px) {
  .tour-card__text {
    margin-bottom: 6.7rem;
  }
}
.tour-card__text_1 {
  font-size: 1.6rem;
  font-weight: 300;
}
.tour-card__text_2 {
  font-size: 6rem;
  font-weight: 500;
}
.tour-card__side {
  height: 100%;
  width: 100%;
  transition: all 1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}
.tour-card__side_front {
  background: white;
}
@media (max-width: 900px) {
  .tour-card__side_front {
    padding-bottom: 8rem;
  }
}
.tour-card__side_back {
  transform: rotateY(180deg);
  background: linear-gradient(157deg, #BA8554, #A14F03);
}
@media (max-width: 900px) {
  .tour-card__side_back {
    transform: rotateY(0deg);
    padding: 5rem;
    margin-top: -6rem;
    -webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
  }
}
@media (max-width: 900px) {
  .tour-card__side {
    position: relative;
    height: auto;
    transform: rotateY(0deg);
  }
}
.tour-card:hover .tour-card__side_front {
  transform: rotateY(180deg);
}
@media (max-width: 900px) {
  .tour-card:hover .tour-card__side_front {
    transform: rotateY(0deg);
  }
}
.tour-card:hover .tour-card__side_back {
  transform: rotateY(0deg);
}

.feedback-card {
  position: relative;
  width: 80%;
  background: rgba(250, 250, 250, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 5rem 6rem 3rem 7rem;
  transform: skewX(330deg);
}
@media (max-width: 1240px) {
  .feedback-card {
    padding: 5rem 3rem 3rem 6rem;
  }
}
@media (max-width: 900px) {
  .feedback-card {
    transform: skewX(355deg);
    padding: 3rem;
  }
}
.feedback-card > * {
  transform: skewX(-330deg);
}
@media (max-width: 900px) {
  .feedback-card > * {
    transform: skewX(-355deg);
    width: 85%;
    text-align: center;
  }
}
.feedback-card__block {
  width: 90%;
}
@media (max-width: 900px) {
  .feedback-card__block {
    width: 100%;
  }
}
.feedback-card__img {
  position: relative;
  height: 16rem;
  width: 16rem;
  float: left;
  border-radius: 100rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
}
@media (max-width: 900px) {
  .feedback-card__img {
    float: none;
    margin: 0 auto;
    height: 18rem;
    width: 18rem;
    margin-bottom: 3rem;
  }
}
.feedback-card__img img {
  height: 100%;
  transform: scale(1.05);
  overflow: hidden;
  transition: all 0.4s;
}
.feedback-card:hover .feedback-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedback-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(90%);
}
.feedback-card__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  opacity: 0;
  color: #FAFAFA;
}

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-video-gradient {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #BA8554, #000000);
  opacity: 0.5;
}

.book-block {
  height: 52rem;
  background: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 57%, rgba(186, 133, 80, 0.8) 57%, rgba(161, 79, 3, 0.8) 100%), url("../img/form-img.jpg") center/cover no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
@media (max-width: 1240px) {
  .book-block {
    height: 50rem;
  }
}
@media (max-width: 900px) {
  .book-block {
    background: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 100%, rgba(186, 133, 80, 0.8) 100%, rgba(161, 79, 3, 0.8) 100%), url("../img/form-img.jpg") center/cover no-repeat;
    height: 55rem;
  }
}

.card-form {
  width: 68%;
  padding-top: 5rem;
  padding-left: 5rem;
}
@media (max-width: 1240px) {
  .card-form {
    padding-top: 2rem;
  }
}
@media (max-width: 900px) {
  .card-form {
    width: 100%;
    padding-left: 4rem;
  }
}
.card-form__group:not(:last-child) {
  margin-bottom: 1.7rem;
}
@media (max-width: 1240px) {
  .card-form__group:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.card-form__group:nth-child(4) {
  margin-bottom: 3.3rem;
}
@media (max-width: 1240px) {
  .card-form__group:nth-child(4) {
    margin-bottom: 2rem;
  }
}
.card-form__input {
  width: 52%;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #000000;
  font-weight: 400;
  background: #FAFAFA;
  padding: 2rem 0rem 2rem 2rem;
  border: none;
  border-bottom: 0.2rem solid transparent;
  border-radius: 0.5rem;
}
@media (max-width: 900px) {
  .card-form__input {
    width: 90%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
}
.card-form__input:focus {
  outline: none;
  border-bottom: 0.2rem solid #66D763;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.card-form__input:focus:invalid {
  border-bottom: 0.2rem solid #D76363;
}
.card-form__label {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  display: block;
  margin-top: 1rem;
  margin-left: 1.5rem;
  transition: 0.5s all;
}
.card-form__input:-moz-placeholder-shown + .card-form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.card-form__input:placeholder-shown + .card-form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.card-form__group-radio {
  width: 35%;
  display: inline-block;
}
.card-form__group-radio:first-child {
  padding-left: 3.5rem;
}
@media (max-width: 1240px) {
  .card-form__group-radio {
    display: block;
    width: 60%;
    padding-left: 3.5rem;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 900px) {
  .card-form__group-radio {
    margin-bottom: 2.5rem;
  }
}
.card-form__label-radio {
  position: relative;
  cursor: pointer;
}
.card-form__input-radio {
  display: none;
}
.card-form__button-radio {
  display: block;
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 10rem;
  border: 0.5rem solid #BA8554;
  top: -0.4rem;
  left: -3.4rem;
}
.card-form__button-radio::after {
  content: "";
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background: #BA8554;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s all;
}
.card-form__input-radio:checked ~ .card-form__label-radio .card-form__button-radio::after {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */